// Fonts
$roboto: 'Roboto', arial, sans-serif;

// Colors
$black: #000;
$white: #fff;
$grey: #848484;
$orange: #f97000;
$red: #f90900;
$dark-grey: #151515;

// Breakpoints
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;

